@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .poppins-light {
    @apply font-poppins font-light;
  }

  .poppins-regular {
    @apply font-poppins font-normal;
  }

  .poppins-semibold {
    @apply font-poppins font-semibold;
  }

  .poppins-bold {
    @apply font-poppins font-bold;
  }

  .dashboard-navigation-btn {
    @apply bg-dashboardMainButton hover:scale-95 transition-transform text-white poppins-semibold size-36 box-content py-4 px-8 flex flex-col gap-y-2 items-center justify-center rounded-lg;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
